<!--use handlebars to create template static pages-->


<!DOCTYPE html>
<html>
  <h1>{{pageTitle}}</h1>
  {{> header}}

  <body>

    <p>{{screamIt welcomeMessage}}</p>

  </body>

{{> footer}}


</html>
